/****** Script de la commande SelectTopNRows à partir de SSMS  ******/
SELECT TOP 1000 [ID_Client]
      ,[Valider_Client]
      ,[ID_Utilisateur]
      ,[ID_Client_archive]
      ,[NomEnSigle_Client]
      ,[NomComplet_Client]
      ,[Adresse_Client]
      ,[ConditionPaiement_Client]
      ,[RCCM]
      ,[NUI]
      ,[Tel_1]
      ,[Tel_2]
      ,[email_client]
      ,[BP]
      ,[Date_sav]
      ,[heure_save]
      ,[Valider_archive_client]
      ,[ID_Pays]
      ,[codepays]
      ,[nompays]
      ,[ID_TVA]
      ,[libelletva]
      ,[ID_RS]
      ,[nom_rs]
      ,[ID_Departement]
      ,[nomdep]
      ,[ID_Devise]
      ,[pays]
      ,[devise]
      ,[code]
      ,[num]
      ,[revision]
      ,[Code_Client]
      ,[ID_Ville]
      ,[nom_ville]
      ,[ID_Definition]
      ,[Valider_Definition]
      ,[ID_Societe]
      ,[NomEnSigle_Societe]
      ,[NomComplet_Societe]
      ,[Valider_Societe]
      ,[valider_archive]
  FROM [SMP_SMIB_DATABASE02].[dbo].[R_Client_Definition] WHERE valider_archive='1' AND Valider_archive_client='1'